 .bg-primary{
 	background-image: ;
 }
 .nav{ 
    list-style: none; 
    margin: 20; 
    padding: 20; 
    padding-left: 1rem; 
    padding-right: 1rem;
    background-color: ;
}
.element.stle{
   background-color: ;
   color: red;
}
